<div content="content" class="amp-hero-panel amp-editorial-wrapper" style="">

    <img class="amp-image-block__image"
         src="http://{{panelContent.image.defaultHost}}/i/{{panelContent.image.endpoint}}/{{panelContent.image.name}}" alt="">

    {{> editorial panelContent.editorial type="amp-image-block"}}

</div>