<div class="amp-split-block-wrapper">
    <div class="amp-split-block" style="padding-top: 50%;">
        <div class="amp-split-block__wrapper">
            <div class="amp-split-block__image-container" style="padding-top: 50%;">

                <img class="amp-split-block__image"
                         src="http://{{blockContent.image.defaultHost}}/i/{{blockContent.image.endpoint}}/{{blockContent.image.name}}" alt="">

            </div>
            <div class="amp-split-block__editorial-container">
                {{> editorial blockContent.editorial type="amp-split-block"}}
            </div>
        </div>
    </div>
</div>
