
                </div>
            </div>
        </div>


        <footer>
            <div class="back-to-top-container">
                <img class="back-to-top-icon" src="/images/af-back-to-top.svg" />
                <div class="back-to-top">Back to top</div>
            </div>

            <div class="amp-ca-footer">
                <div class="amp-ca-footer-logo">
                    <img src="/images/AnyaFinn-Logo-rev.png" alt="">
                </div>


                    <ul class="amp-ca-footer-links">
                        <li>
                            <a href="">Contact us</a>
                        </li>
                        <li>
                            <a href="">Track an order</a>
                        </li>
                        <li>
                            <a href="">Returns policy</a>
                        </li>
                        <li>
                            <a href="">Store locator</a>
                        </li>
                    </ul>

            </div>
        </footer>

    </body>
</html>